.container {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  width: 16px;
  padding: 0;
  transform: rotate(90deg);
}

.pending::after {
  content: ":|";
}

.loss::after {
  content: ":(";
}

.active::after {
  content: ":)";
}

.victory::after {
  content: ":D";
}
