:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100vh;
  display: flex;
  place-items: center;
  width: 100%;
}

#minesweeper-window {
  margin: 0 auto;
}

.row {
  display: flex;
}

.cell {
  cursor: pointer;
  background-color: #bdbdbd;
  border-bottom: solid 3px #7b7b7b;
  border-right: solid 3px #7b7b7b;
  border-top: solid 3px #fff;
  border-left: solid 3px #fff;
  font-weight: bold;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease;
}

.cell[disabled] {
  user-select: none;
}

.cell-open {
  border: solid 1px #7b7b7b;
}

.cell:active {
  transform: scale(0.9);
}

.cell-exploded {
  background-image: url("./assets/mine.svg");
}

.cell-flagged {
  background-image: url("./assets/flag.svg");
}

.cell-cursor {
  background-color: pink;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
